<div class="seccion-form">
  <div class="campo">
    <label for="email">Correo electrónico: <span class="required-mark"></span></label>
    <input
      type="email"
      id="email"
      formControlName="email"
      placeholder="correo@ejemplo.com"
    >
    <small class="field-error" *ngIf="control('email')?.touched && control('email')?.hasError('required')">Este campo es obligatorio.</small>
    <small class="field-error" *ngIf="control('email')?.touched && control('email')?.hasError('email')">Ingresa un correo electrónico válido.</small>
  </div>
</div>
